body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background: linear-gradient(135deg, #f0f0f0, #c0c0c0);
}

/* Navigation bar */
nav {
    position: sticky;
    top: 0;
    background-color: rgb(119, 170, 241);
    padding: 0.5rem;
    text-align: right;
    z-index: 1;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
    font-size: 18px;
}
nav a:hover {
    opacity: 0.5;
}
.dropdown {
    position: relative;
    display: inline-block;
    background-color: inherit;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: inherit;
    border-radius: 10px;
}
.dropdown-content > * {
    display: block;
    z-index: 1;
    padding: 0.2rem;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.row {
    margin: 0;
}

/* Constants */

.row-content {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 3rem 1rem;
}
.section-image {
    width: 75%;
}
.title-container, .text-container {
    margin-bottom: 3rem;
}
.title-container {
    text-align: center;
}
.text-container p {
    font-size: 1.2rem;
}
.row-content a {
    text-decoration: none;
    color: black;
}
.text-container {
    text-align: center;
}
.btn {
    background-color: rgb(119, 170, 241);
}
.btn:hover, .btn:active{
    background-color: rgba(0, 0, 255,0.8);
    color: white;
}

/* Card model */
#card-model {
    display: none;
}
.card {
    background: rgba(255, 255, 255, 0.3);
    transition: 1.5s ease;
}
.card:hover {
    background: rgba(255, 255, 255, 0.9);
}
.card a {
    float: right;
}
.card-img-top:hover {
    background-color: rgb(119, 170, 241);
    transition: 0.4s ease;
}
.card-img-top {
    max-height: 250px;
    padding: 0.5rem;
}
.card-title {
    text-align: center;
}
.card p {
    text-align: center;
}
.card-graph {
    padding: 0;
    font-size: 0;
    border-radius: 10px;
    overflow: hidden;
}
.card-graph-bar {
    height: 15px;
    display: inline-block;
    margin: 0;
    font-size: 16px;
    
}
.card li {
    font-size: 1.4rem;
}
.card li > small {
    color: black;
    vertical-align: middle;
    font-size: 1rem;
}

/* Scroll top button */
.scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Footer */
footer {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
}
.footer-content {
    display: inline-block;
}
footer li {
    list-style-type: none;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
footer a:hover {
    color: blue;
}
footer img {
    width: 50px;
    border: solid 1px white;
    border-radius: 15px;
}
footer img:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 600px) {
    .text-container p {
        font-size: 1rem;
    }
    .card {
        margin-bottom: 1rem;
    }
}